<!DOCTYPE html>
<html lang="en">

<head>
	<title>Mi Evaluación</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<style type="text/css">
		td,th{
			text-align: center;
		}
		#texto_total{
			text-align: right;
			font-weight: bold;
		}
		.item{
			text-align: left;
		}
	</style>
</head>

<body>

	<div class="container">
		<h2>Regiones</h2>
		<ul>
		{% for region in regiones%}
			<li><a href="/region/{{ region['codigo'] }}/provincias">{{ region["nombre"] }}</a></li>
		{% endfor%}
		</ul>
	</div>
</body>
	
</html>